*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
body{
    font-family: 'Merriweather', serif;
    direction: ltr;
    font-size: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
*::after, *::before{
    content: "";
}
header, footer, aside, section, article, nav, figure, ul, li,div{
    display: flex;
    flex-wrap: wrap;
}