/* start page one*** */
.page{
    width: 100%;
    overflow: hidden;
}
.headpage{
    width: 100%;
    background-color: #004274;
    height: 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.979);
}
.headpage>div{
    height: 80px;
    justify-content: space-evenly;
}
.headpage>div:nth-of-type(1)>figure>img{
    width: 140px;
    padding: 15px 24px;
}
.headpage>div:nth-of-type(2)>ul{
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;
}
.headpage>div:nth-of-type(2)>ul>li{
    width: 100%;
    height: 100%;
}
.headpage>div:nth-of-type(2)>ul>li>a{
    width: 100%;
    height: 100%;
    /* background-color: burlywood; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(240, 255, 255, 0.959);
    padding: 27px;
    transition: .6s;
    text-transform: capitalize;
}
.headpage>div:nth-of-type(2)>ul>li>a:hover{
    color: rgba(0, 0, 255, 0.863);
    border-bottom: 1px solid rgba(0, 0, 255, 0.932);
}
.headpage>div:nth-of-type(3){
    padding: 27px;
    color: rgba(240, 255, 255, 0.959);
    flex-grow: 1;
}
.headpage>div:nth-of-type(3)>span:hover{
    border-bottom: 1px solid rgba(0, 0, 255, 0.932);
}
.headpage>div:nth-of-type(3)>div{
    border: 2px solid rgba(0, 0, 255, 0.932);
    border-radius: 6px;
    width: 120px;
    padding: 7px;
    transition: .6s;
}
.headpage>div:nth-of-type(3)>div:hover{
    background-color: rgba(0, 0, 255, 0.932);
    color: azure;
    cursor: pointer;
}
.headpage>div:nth-of-type(3)>div>span{
    display: block;
    width: 100%;
    text-align: center;
}
.picture{
    width: 100%;
    height: 130vh;
    background-image: url(../img/1.jpg);
    background-size: cover;
    background-position: 50% 0%;
    position: relative;
    background-attachment: fixed;
}
.picture::after{
    background-color: rgba(0, 0, 0, 0.322);
    width: 100%;
    height: 100%;
    display: block;
}
.content{
    position: absolute;
    bottom: 9%;
    left: 20%;
}
.contentbox>*{
    width: 100%;
    color: azure;
    margin: 10px 0;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px rgba(240, 238, 238, 0.548);
}
.contentbox1{
    font-size: 23px;
}
.contentbox2{
    font-size: 50px;
}
.contentbox3{
    font-size: 18px;
}
.contentbox4{
    font-size: 36px;
}
.contentbox5{
    width: 170px;
    background-color: #004274;
    padding: 8px;
    border-radius: 5px;
    transform: perspective(800px) scale(.9);
    transition: .4s;
}
.contentbox5>span{
    display: block;
    width: 100%;
    color: azure;
    text-align: center;
    text-align: center;
}
.contentbox5:hover{
    cursor: pointer;
    background-color: #0f7ccf;
    transform: perspective(800px) scale(1);
}
/* end page one*** */
/* start page two*** */
.page2{
    width: 100%;
    height: 130vh;
    padding: 50px;
}
.rowone{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
}
.rowone>*{
    width: 100%;
    display: block;
    text-align: center;
}
.rowonediv>h2{
    margin: 20px 0;
    font-size: 40px;
    line-height: 2;
    text-shadow: 1px 1px 5px rgba(169, 169, 169, 0.87);
}
.rowonediv>p{
    font-size: 20px;
}
.rowtwo{
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
}
.rowtwodiv1{
    margin: 10px 5px;
    /* border: 1px solid black; */
    display: flex;
    width: 32.5%;
}
.rowtwofigure{
    width: 100%;
    border: 1px solid rgba(169, 169, 169, 0.904);
}
.rowtwofigure>img{
    width: 100%;
    height: 55%;
    object-fit: cover;
}
.rowtwodiv{
    text-transform: capitalize;
    font-size: 17px;
    display: block;
    line-height: 1.8;
    padding: 8px;
}
.rowtwodiv>span{
    color: #00AEFF;
    font-weight: bold;
    padding-bottom: 2px;
}
.rowtwodiv>p{
    color: rgba(151, 151, 151, 0.979);
}
/* end page two*** */
/* start page three*** */
.pagethree{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
    position: relative;
}
.pagethree>*{
    position: absolute;
    /* color: rgba(240, 255, 255, 0.979); */
}
.picture2{
    width: 100%;
    height: 100%;
    background-image: url(../img/4.jpg);
    background-size: cover;
}
.pagethreerow1{
    width: 100%;
    /* border: 1px solid rgb(255, 187, 0); */
    height: 22%;
    display: block;
    text-align: center;
    padding-top: 80px;
    font-size: 34px;
    color: rgba(240, 255, 255, 0.938);
    transition: .3s;
}
.pagethreerow1:hover{
    letter-spacing: 5px;
}
.pagethreerow{
    width: 100%;
    height: 78%;
    /* border: 1px solid rgb(156, 33, 105); */
    margin-top: 140px;
    text-transform: capitalize;
}
.pagethreerow2{
    width: 100%;
    height: 58%;
    /* border: 1px solid white; */
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.pagethreediv2{
    width: 24%;
    height: 100%;
    /* border: 1px solid blue; */
    border-radius: 5px;
    background-color: #09acf8f1;
    transition: .5s;
}
.pagethreediv2:hover{
    box-shadow: 0 0 6px 6px rgba(0, 0, 255, 0.404);
}
.pagethreediv3{
    width: 100%;
    height: 40%;
    /* border: 1px solid orangered; */
    padding-left: 120px;
}
.pagethreediv3>img{
    width: 70px;
}
.pagethreediv2>h4{
    text-align: center;
    width: 100%; 
    font-size: 20px; 
}
.pagethreediv2>p{
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
/* end page three*** */
/* start page four*** */
.pagefour{
    width: 100%;
    height: 90vh;
    position: relative;
}
.pagefour>*{
    position: absolute;
}
.pagefourdiv{
    width: 100%;
    height: 100%;
    background-color: #F2F4F8;
    /* border: 1px solid blue; */
}
.pagediv{
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    background-color: #F2F4F8;
    margin: 60px;
}
.pagefourdiv1{
    width: 35%;
    height: 100%;
    /* border: 1px solid rgb(12, 104, 47); */
}
.pagefourdiv1>h3{
    width: 100%;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.959);
    text-shadow: 1px 1px 3px rgba(169, 169, 169, 0.623);
}
.pagefourdiv1>p{
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: rgb(169, 169, 169);
    padding-top: 30px;
}
.pagefourdiv1>div{
    width: 47%;
    height: 45px;
    /* border: 1px solid black; */
    border-radius: 5px;
    background-color: #108cc5;
    margin-left: 100px;
    transition: .3s;
}
.pagefourdiv1>div:hover{
    background-color:#0b4775;
    cursor: pointer;
}
.pagefourdiv1>div:hover>span{
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.774);
}
.pagefourdiv1>div>span{
    font-size: 18px;
    text-align: center;
    width: 100%;
    color: white;
    padding: 7px 0;
    text-shadow: 1px 1px 2px rgba(169, 169, 169, 0.747);
}
.pagefourdiv2{
    width: 65%;
    height: 100%;
    /* border: 1px solid rgba(255, 255, 0, 0.904); */
}
.pagefourdiv3{
    width: 100%;
    height: 50%;
    /* border: 1px solid rgb(15, 9, 2); */
    margin: 80px;
    background-color: azure;
}
.pagefourdiv4{
    width: 25%;
    height: 100%;
    /* border: 1px solid rgba(128, 0, 128, 0.938); */
}
.pagefourdiv5{
    width: 100%;
    height: 60%;
    /* border: 1px solid brown; */
}
.pagefourdiv5>img{
    padding: 38px;
    transform: rotateY(0deg);
    transition: .7s;
}
.pagefourdiv5>img:hover{
    transform: rotateY(180deg);
}
.pagefourdiv6{
    width: 100%;
    height: 40%;
    /* border: 1px solid rgb(116, 185, 131); */
}
.pagefourdiv5>p{
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.932);
    text-align: center;
    padding: 15px;
    text-transform: capitalize;
}
/* end page four*** */
/* start page five*** */
.pagefive{
    width: 100%;
    height: 80vh;
    /* border: 2px solid black; */
    position: relative;
    text-transform: capitalize;
}
.pagefive>*{
    position: absolute;
}
.pagefivesection1{
    width: 100%;
    height: 100%;
    /* border: 1px solid rgba(255, 0, 0, 0.918); */
}
.pagefivesecton2{
    width: 100%;
    height: 86%;
    /* border: 4px solid rgba(0, 128, 0, 0.897); */
}
.pagefivesection3{
    width: 100%;
    height: 100%;
    /* border: 3px solid rgba(128, 0, 128, 0.87); */
}
.pagefivediv1, .pagefivediv5{
    width: 23%;
    height: 100%;
    /* border: 1px solid rgba(216, 112, 147, 0.938); */
}
.pagefivediv2 ,.pagefivediv3, .pagefivediv4{
    width: 18%;
    height: 100%;
    /* border: 1px solid rgb(112, 128, 216); */
}
.pagefivediv1-1{
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
}
.pagefivediv1-1-1{
    object-fit: cover;
    width: 15px;
    padding: 55px;
}
.pagefivediv1-2{
    width: 100%;
    height: 40%;
    /* border: 1px solid red; */
}
.pagefivediv1-2>p{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.pagefivediv1-3{
    width: 100%;
    height: 30%;
    /* border: 1px solid blue; */
}
.pagefivediv1-3>span{
    margin: 6px;
    color: rgb(169, 169, 169);
    transition: .5s;
}
.pagefivediv1-3>span:hover{
    transform: rotatex(40deg);
}
.pagefivediv2-1{
    width: 100%;
    height: 20%;
    /* border: 2px solid purple; */
}
.pagefivediv2-1>h5{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    text-shadow: 1px 1px 1px darkgray;
}
.pagefivediv2-2{
    width: 100%;
    height: 80%;
    /* border: 2px solid yellow; */
}
.pagefivediv2-2>ul{
    width: 50%;
    display: block;
    padding: 58px;
}
.pagefivediv2-2>ul>li{
    color: darkgray;
    padding: 6px;
    font-size: 20px
}
.pagefivediv3-1{
    width: 100%;
    height: 20%;
    /* border: 2px solid purple; */
}
.pagefivediv3-1>h5{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    text-shadow: 1px 1px 1px darkgray;
}
.pagefivediv3-2{
    width: 100%;
    height: 80%;
    /* border: 2px solid yellow; */
}
.pagefivediv3-2>ul{
    width: 50%;
    display: block;
    padding: 58px;
}
.pagefivediv3-2>ul>li{
    color: darkgray;
    padding: 6px;
    font-size: 20px
}
.pagefivediv5-1{
    width: 100%;
    height: 20%;
    /* border: 2px solid purple; */
}
.pagefivediv5-1>h5{
    width: 100%;
    text-align: center;
    font-size: 25px;
    padding: 40px;
    text-shadow: 1px 1px 1px darkgray;
}
.pagefivediv5-2{
    width: 100%;
    height: 80%;
    /* border: 2px solid yellow; */
}
.pagefivediv5-2>ul{
    width: 50%;
    display: block;
    padding: 36px;
}
.pagefivediv5-2>ul>li{
    color: darkgray;
    padding: 10px;
    font-size: 20px
}
.pagefivesection4{
    width: 100%;
    height: 15%;
    /* border: 1px solid rgba(255, 255, 0, 0.918); */
    background-color: rgba(169, 169, 169, 0.281);
}
.pagefivesection4>p{
    width: 100%;
    text-align: center;
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}
.pagefivesection4>p>span{
    color: blue;
    width: 19px;
}
/* end page five*** */
